{{ define "home/index" }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/app.css">
    <script type="text/javascript" src="/assets/js/app.js"></script>
</head>
<body>
<h1>Index</h1>
</body>
</html>
{{ end }}