
h1 {
    text-align: center;
}

h3 {
    text-align: center;
}

.Table {
    display: table;
    margin-left: auto;
    margin-right: auto;
}

.Row {
    display: table-row;
}

.Cell {
    display: table-cell;
    padding: 3px 10px;
    text-align: center;
}

.Title {
    display: table-row;
    text-align: center;
    font-weight: bold;
}
